# Python and Data Analysis 1

**Goal:** The goal of this project is to become comfortable working with data in Pandas.

**Description:** This project will cover the basics of Pandas: importing, manipulating, and filtering data in Pandas DataFrames. Becoming fluent takes practice, but is necessary when building larger data analysis projects. After this project, you should feel comfortable navigating any dataset using Pandas.

## 1A: Data Basics

### Types of Data

At the most fundemental level, there are three kinds of data:
 - *Qualitative/Categorical*: Country, Industry, Faculty...
 - *Quantitative/Numerical*: Height, Rank, Price...
 - *Identifying*: Stock Ticker, Card Number, Product ID
 
Pandas DataFrames can store different data types, but the basic ones we will focus on here are:
 - *Strings* (`object`): Text
 - *Integers* (`int64`): Numbers without decimals
 - *Floats* (`float64`): Numbers with decimals
 - *Booleans* (`bool`): Values that are either True or False
 - *DateTimes* (`datetime64`): Values that store a specific date and time

### Importing and Displaying Data

We can import data from CSV (comma separated value) files with `read_csv`. The following stock dataset is sourced from https://www.macrotrends.net/.

In [1]:
import pandas as pd
df = pd.read_csv('MSFT.csv') # Import the CSV

We can then print the entire DataFrame.

In [2]:
print(df)

            date      open      high       low     close      volume
0     1986-03-13    0.0885    0.1016    0.0885    0.0972  1031788800
1     1986-03-14    0.0972    0.1024    0.0972    0.1007   308160000
2     1986-03-17    0.1007    0.1033    0.1007    0.1024   133171200
3     1986-03-18    0.1024    0.1033    0.0990    0.0998    67766400
4     1986-03-19    0.0998    0.1007    0.0972    0.0981    47894400
...          ...       ...       ...       ...       ...         ...
8629  2020-06-08  185.9400  188.5500  184.4400  188.3600    33123035
8630  2020-06-09  188.0000  190.7000  187.2605  189.8000    29783916
8631  2020-06-10  191.1250  198.5200  191.0100  196.8400    43568260
8632  2020-06-11  193.1300  195.7600  186.0700  186.2700    52645278
8633  2020-06-12  190.5400  191.7200  185.1800  187.7400    43373587

[8634 rows x 6 columns]

Print the first five rows with `head`.

In [3]:
print(df.head())

         date    open    high     low   close      volume
0  1986-03-13  0.0885  0.1016  0.0885  0.0972  1031788800
1  1986-03-14  0.0972  0.1024  0.0972  0.1007   308160000
2  1986-03-17  0.1007  0.1033  0.1007  0.1024   133171200
3  1986-03-18  0.1024  0.1033  0.0990  0.0998    67766400
4  1986-03-19  0.0998  0.1007  0.0972  0.0981    47894400

Print the last five rows with `tail`.

In [4]:
print(df.tail())

            date     open    high       low   close    volume
8629  2020-06-08  185.940  188.55  184.4400  188.36  33123035
8630  2020-06-09  188.000  190.70  187.2605  189.80  29783916
8631  2020-06-10  191.125  198.52  191.0100  196.84  43568260
8632  2020-06-11  193.130  195.76  186.0700  186.27  52645278
8633  2020-06-12  190.540  191.72  185.1800  187.74  43373587

Use `dtype` to determine the type of data.

In [5]:
df['close'].dtype # Find the type of data in the 'close' column

dtype('float64')

### DataFrame Elements

DataFrames have three key elements:
 - *Data*: The content of the DataFrame
 - *Columns*: Horizontal headings (`date`, `open`, `high`, `low`, `close`, `volume`) uniquelely identifying a column
 - *Index*: Vertical values uniquely identifying a row (the numbers on the leftmost side)
 
 
Note: The *position* of a column or index is the order in which it appears, starting from 0. The column positions are numbered 0, 1, 2, 3, 4, 5, in order of appearance. In this DataFrame, the index is the same as the index position for all rows (index at position 0 has value 0).

## 1B: Slicing and Dicing Data

When analyzing data, we need to be able to manipulate DataFrames to select the exact subset of data that we want. Here, we will cover a few key techniques.

### Column Select

If we want to get data from a particular column, we can use the syntax `df-name['column-name']`. This returns a Pandas *Series*. For example, if we want to get the `date` column from the DataFrame called `df`, we can do:

In [6]:
dates = df['date']
print(dates)

0       1986-03-13
1       1986-03-14
2       1986-03-17
3       1986-03-18
4       1986-03-19
           ...
8629    2020-06-08
8630    2020-06-09
8631    2020-06-10
8632    2020-06-11
8633    2020-06-12
Name: date, Length: 8634, dtype: object

To select multiple columns, we use `df-name[['col1', 'col2', ...]]`. Instead of passing a single column, we pass a list of columns. Instead of returning a Series, Pandas will return a DataFrame. This also allows us to rearrange the order of columns.

In [7]:
multiple_cols = df[['volume', 'close', 'date']]
print(multiple_cols)

          volume     close        date
0     1031788800    0.0972  1986-03-13
1      308160000    0.1007  1986-03-14
2      133171200    0.1024  1986-03-17
3       67766400    0.0998  1986-03-18
4       47894400    0.0981  1986-03-19
...          ...       ...         ...
8629    33123035  188.3600  2020-06-08
8630    29783916  189.8000  2020-06-09
8631    43568260  196.8400  2020-06-10
8632    52645278  186.2700  2020-06-11
8633    43373587  187.7400  2020-06-12

[8634 rows x 3 columns]

### Row Select

Pandas provides two ways to select particular rows from a DataFrame.

#### Row Select by Value

We use the row's index value to uniquely select the row, following the syntax `df-name.loc[index-value]`. This will return a Series. Here, the index value is the same as its position (the index value at position 0 is 0), but this is not always the case. The index value can be a non-integer, but its position will always be an integer from 0 to the number of rows minus one.

In [8]:
first_row = df.loc[0]
print(first_row)

date      1986-03-13
open          0.0885
high          0.1016
low           0.0885
close         0.0972
volume    1031788800
Name: 0, dtype: object

For multiple rows, we can pass a list of rows, or a range using `df-name.loc[[values-list]]` or `df-name.loc[start-value:end-value]`.

In [9]:
first_five_rows = df.loc[[0,1,2,3,4]] # Access the rows with index 0,1,2,3,4
print(first_five_rows)

first_five_rows_range = df.loc[0:4] # Access the rows starting with index 0 up to and including index 4
print(first_five_rows_range)

         date    open    high     low   close      volume
0  1986-03-13  0.0885  0.1016  0.0885  0.0972  1031788800
1  1986-03-14  0.0972  0.1024  0.0972  0.1007   308160000
2  1986-03-17  0.1007  0.1033  0.1007  0.1024   133171200
3  1986-03-18  0.1024  0.1033  0.0990  0.0998    67766400
4  1986-03-19  0.0998  0.1007  0.0972  0.0981    47894400
         date    open    high     low   close      volume
0  1986-03-13  0.0885  0.1016  0.0885  0.0972  1031788800
1  1986-03-14  0.0972  0.1024  0.0972  0.1007   308160000
2  1986-03-17  0.1007  0.1033  0.1007  0.1024   133171200
3  1986-03-18  0.1024  0.1033  0.0990  0.0998    67766400
4  1986-03-19  0.0998  0.1007  0.0972  0.0981    47894400

#### Row Select by Position

Instead of using the value of the index, we can also use its position. This is useful if our index values are not common-sense integers. If our index was a string, but we wanted to select the first 20 rows of data, `loc` would not work unless we knew the first 20 values in our index. With the exception of using positions instead of values, `iloc` is quite similar to `loc`. We use the syntax `df-name.iloc[index-position]` for a single row and `df-name.iloc[[positions-list]]` or `df-name.iloc[start-position:end-position]` for multiple rows.

In [10]:
row_at_position_4 = df.iloc[4] # Access row with position 4
print(row_at_position_4)

last_five_rows = df.iloc[[-5,-4,-3,-2,-1]] # Access rows with positions -5,-4,-3,-2,-1
print(last_five_rows)

last_five_rows_range = df.iloc[-5:] # Access rows with positions -5 to the end
print(last_five_rows_range)

date      1986-03-19
open          0.0998
high          0.1007
low           0.0972
close         0.0981
volume      47894400
Name: 4, dtype: object
            date     open    high       low   close    volume
8629  2020-06-08  185.940  188.55  184.4400  188.36  33123035
8630  2020-06-09  188.000  190.70  187.2605  189.80  29783916
8631  2020-06-10  191.125  198.52  191.0100  196.84  43568260
8632  2020-06-11  193.130  195.76  186.0700  186.27  52645278
8633  2020-06-12  190.540  191.72  185.1800  187.74  43373587
            date     open    high       low   close    volume
8629  2020-06-08  185.940  188.55  184.4400  188.36  33123035
8630  2020-06-09  188.000  190.70  187.2605  189.80  29783916
8631  2020-06-10  191.125  198.52  191.0100  196.84  43568260
8632  2020-06-11  193.130  195.76  186.0700  186.27  52645278
8633  2020-06-12  190.540  191.72  185.1800  187.74  43373587

### Subsection Select

To select a subsection of rows and columns at the same time, we can use either `df-name.loc[row-values, column-values]` or `df-name.iloc[row-positions, column-positions]`. The key difference is `loc` takes the value itself, whereas `iloc` takes the position.

In [11]:
first_5_close_and_vol = df.loc[[0,1,2,3,4], ['close', 'volume']] # Access the 'close' and 'volume' columns for the rows with index values 0,1,2,3,4
print(first_5_close_and_vol)

last_2_date_close_and_volume = df.iloc[-2:, [0,4,5]] # Access the 'date' and 'close' and 'volume' columns for rows with index position -2 to the end
print(last_2_date_close_and_volume)

    close      volume
0  0.0972  1031788800
1  0.1007   308160000
2  0.1024   133171200
3  0.0998    67766400
4  0.0981    47894400
            date   close    volume
8632  2020-06-11  186.27  52645278
8633  2020-06-12  187.74  43373587

For practice, try selecting and displaying the `high` and `low` prices for a few rows in the middle, and the first/last row using both `loc` and `iloc`.

## 1C: Filtering Data

Perhaps more interesting than manually selecting data, *filtering* allows us to access a subset of rows based on a condition or set of conditions. For example, if we were only interested in rows where the trading volume was greater than 35 Million, we would filter out all other rows. To do this, we use the syntax `df-name[condition]`.

In [12]:
filtered = df[df.volume > 35000000] # Select only the rows where volume > 35 Million
print(filtered)

            date      open      high       low     close      volume
0     1986-03-13    0.0885    0.1016    0.0885    0.0972  1031788800
1     1986-03-14    0.0972    0.1024    0.0972    0.1007   308160000
2     1986-03-17    0.1007    0.1033    0.1007    0.1024   133171200
3     1986-03-18    0.1024    0.1033    0.0990    0.0998    67766400
4     1986-03-19    0.0998    0.1007    0.0972    0.0981    47894400
...          ...       ...       ...       ...       ...         ...
8623  2020-05-29  182.7300  184.2700  180.4100  183.2500    42146720
8628  2020-06-05  182.6200  187.7300  182.0100  187.2000    39893643
8631  2020-06-10  191.1250  198.5200  191.0100  196.8400    43568260
8632  2020-06-11  193.1300  195.7600  186.0700  186.2700    52645278
8633  2020-06-12  190.5400  191.7200  185.1800  187.7400    43373587

[6667 rows x 6 columns]

We can combine more than one condition using the bitwise comparators `&` (and) and `||` (or). If we wanted the rows where `volume` was larger than 35 Million and `close` was greater than 184, we could combine the two conditions with `&`.

In [13]:
filtered = df[(df.volume > 35000000) & (df.close > 184)]
print(filtered)

            date     open    high     low   close    volume
8547  2020-02-10  183.580  188.84  183.25  188.70  35844267
8548  2020-02-11  190.650  190.70  183.50  184.44  53159906
8549  2020-02-12  185.580  185.85  181.85  184.71  47062921
8554  2020-02-20  186.950  187.25  181.10  184.42  36862376
8615  2020-05-18  185.750  186.20  183.96  184.91  35306620
8628  2020-06-05  182.620  187.73  182.01  187.20  39893643
8631  2020-06-10  191.125  198.52  191.01  196.84  43568260
8632  2020-06-11  193.130  195.76  186.07  186.27  52645278
8633  2020-06-12  190.540  191.72  185.18  187.74  43373587

Notice that the number of rows decreases the more conditions we combine. This makes sense, because as we combine conditions, more rows fail to meet the criteria and are filtered out, resulting in a smaller DataFrame.

For practice, try selecting and displaying only the rows where the difference between the open and close price is greater than 5.